QWidget{
    background-color:#F6F1F1;
    
}
QLabel{
    color:#146C94;
    font-weight:800;
}
QLabel#header{
    font-size:40px;
    margin:auto;
}
QLabel#subHeader{
    font-size:30px;
    margin:auto;
}
QPushButton{
    background-color:#C9CCD5;
    font-size:40px;
    color:#146C94;
    font-weight:800;
    border-radius: 10px;
    border: 3px solid #146C94;
    padding: 50px 10px;
    margin-top: 15px;
    margin-left:400px;
    margin-right: 400px;
    outline: 0px;


}
QPushButton:hover{
    background: transparent;
    border:3px solid #146C94;
    transform:scale(1.1);
    color: #146C94; 
    font-size: 50px;
}  